<div class="container m-2">
  <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
    <h5 class="mb-0">Add Location</h5>
  </div>
  <div class="card shadow-lg mb-4 p-3">
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
      <!-- Row 1 -->
      <div class="row mb-3">
        <div class="col-md-4">
          <label for="circle" class="form-label fw-bold">Circle</label>
          <select id="circle" class="form-select" formControlName="circle" (change)="onCircleChange($event)"
            [ngClass]="{ 'is-invalid': f['circle'].invalid && f['circle'].touched }">
            <option value="" disabled>Select a Circle</option>
            <option *ngFor="let circle of circleList" [value]="circle.ID">
              {{ circle.NAME }}
            </option>
          </select>
          <div *ngIf="f['circle'].invalid && f['circle'].touched" class="text-danger small">
            Circle is required.
          </div>
        </div>
        <div class="col-md-4">
          <label for="division" class="form-label fw-bold">Division</label>
          <select id="division" class="form-select" formControlName="div"
            [ngClass]="{ 'is-invalid': f['div'].invalid && f['div'].touched }">
            <option value="" disabled>Select a Division</option>
            <option *ngFor="let division of divList" [value]="division.ID">
              {{ division.NAME }}
            </option>
          </select>
          <div *ngIf="f['div'].invalid && f['div'].touched" class="text-danger small">
            Division is required.
          </div>
        </div>
        <div class="col-md-4">
          <label for="office_type" class="form-label fw-bold">Office Type</label>
          <select id="office_type" class="form-select" formControlName="office_type"
            [ngClass]="{ 'is-invalid': f['office_type'].invalid && f['office_type'].touched }">
            <option value="" disabled>Select a Office Type</option>
            <option *ngFor="let officetype of officetypeList" [value]="officetype.ID">
              {{ officetype.NAME }}
            </option>
          </select>
          <div *ngIf="f['office_type'].invalid && f['office_type'].touched" class="text-danger small">
            Office Type is required.
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-12">
          <label class="form-label fw-bold">Location Name</label>
          <textarea type="text" class="form-control" formControlName="name"></textarea>
          <div *ngIf="f['name'].touched && f['name'].invalid" class="text-danger small">
            <span *ngIf="f['name'].errors?.['required']">Location Name is required.</span>
            <span *ngIf="f['name'].errors?.['pattern']">Enter a valid name.</span>
          </div>
        </div>
      </div>
      <div class="text-end">
        <button type="submit" class="btn btn-primary" [disabled]="editForm.invalid">Submit</button>
      </div>
    </form>
  </div>
</div>