

.content {
    display: flex;
    height: 100vh; /* Adjust <header-height> to the actual height of the header */
    position: relative;
    z-index: 1;
  }
  
  
  
  .wrap {
    position: relative;
    flex: 1; /* Grow to take remaining space */
    transition: margin-left 0.3s ease;
    margin-top: 3rem;
    z-index: 1;
    opacity: 90%;
  }
  
  .wrap-shifted {
    margin-left: 14rem; /* Adjust <sidebar-width> to the actual width of the sidebar */
  }
  
  @media (max-width: 768px) {
    .wrap-shifted {
        margin-left: 10rem; /* Adjust <sidebar-width> to the actual width of the sidebar */
      }
  }

  /* Full-screen overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

/* Modal content */
.modal-content {
  background: #fff;
  width: 90%;
  max-width: 50%;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  position: relative;
}

/* Close button */
.modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 2.4rem;
  cursor: pointer;
}

/* Responsive for mobile */
@media (max-width: 600px) {
  .modal-content {
    height: 90%;
    width: 95%;
    max-width: 400px;
    overflow: auto ;
  }
}
