.sidebar {
    width: 14rem;
    height: 100vh;
    position: fixed;
    left: 0;
    background: linear-gradient(to bottom, #69c 40%, #316598);
    overflow-x: hidden;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%); /* Hidden by default */
    opacity: 80%;
    margin-top: 3rem;
    z-index: 2;
  }
  
  .sidebar.open {
    transform: translateX(0); /* Show when open */
  }
  
  .nav-link {
    display: flex;
    align-items: center;
    padding: 0.8rem 1.2rem; 
    color: black;
    text-decoration: none;
  }
  
  .nav-link:hover {
    background-color: #263750;
    color: white;
  }
  
  .nav-link i {
    margin-right: 0.2rem;
  }
  .caret-icon {
    transition: transform 0.3s ease;
  }
  
  .nav-link[aria-expanded='true'] .caret-icon  {
    transform: rotate(90deg);
  }
  
  .nav-link[aria-expanded='false'] .caret-icon {
    transform: rotate(0deg);
  }

  .dropdown-menu {
    display: none;
    margin-top: 5rem;
  }


  .dropdown.show .dropdown-menu {
    display: block;
  }
  @media (max-width: 768px) {
    .sidebar {
      width: 10rem;
    }
  }
