
.content{
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 2;

}
.popup {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
 
  
