<div>
    <h4 class="mb-3">Update Checkpoint</h4>
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
        <div class="row mb-3">
            <div class="col-md-4">
                <label class="form-label fw-bold">Type</label>
                <select id="type" class="form-select" formControlName="type"
                    [ngClass]="{ 'is-invalid': f['type'].invalid && f['type'].touched }">
                    <option value="" disabled>Select a Type</option>
                    <option *ngFor="let type of typeList" [value]="type.TYPE_ID">
                        {{ type.TYPE_NAME }}
                    </option>
                </select>
                <div *ngIf="f['type'].invalid && f['type'].touched" class="text-danger small">
                    Type is required.
                </div>
            </div>
            <div class="col-md-4">
                <label class="form-label fw-bold">Forward to Role</label>
                <select id="fwdrole" class="form-select" formControlName="fwdrole"
                    [ngClass]="{ 'is-invalid': f['fwdrole'].invalid && f['fwdrole'].touched }">
                    <option value="" disabled>Select a Role</option>
                    <option *ngFor="let role of roleList" [value]="role.ROLE_ID">
                        {{ role.ROLE_NAME }}
                    </option>
                </select>
                <div *ngIf="f['fwdrole'].invalid && f['fwdrole'].touched" class="text-danger small">
                    Forward to role is required.
                </div>
            </div>
            <div class="col-md-4">
                <label class="form-label fw-bold">Label</label>
                <input type="text" class="form-control" formControlName="label" />
                <div *ngIf="f['label']?.touched && f['label']?.invalid" class="text-danger small">
                    <span *ngIf="f['label']?.errors?.['required']">Label is
                        required.</span>
                    <span *ngIf="f['label']?.errors?.['pattern']">Invalid
                        characters entered. Please avoid special characters.</span>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-8">
                <label class="form-label fw-bold">Name</label>
                <textarea type="text" class="form-control" formControlName="name"></textarea>
                <div *ngIf="f['name']?.touched && f['name']?.invalid" class="text-danger small">
                    <span *ngIf="f['name']?.errors?.['required']">Name is
                        required.</span>
                    <span *ngIf="f['name']?.errors?.['pattern']">Invalid
                        characters entered. Please avoid special characters.</span>
                </div>
            </div>
            <div class="col-md-4">
                <label class="form-label fw-bold">Status</label>
                <select id="status" class="form-select" formControlName="status"
                    [ngClass]="{ 'is-invalid': f['status'].invalid && f['status'].touched }">
                    <option value="" disable>Select a Status</option>
                    <option value="Y">Active</option>
                    <option value="N">Not Active</option>
                </select>
                <div *ngIf="f['status'].invalid && f['status'].touched" class="text-danger small">
                    Status is required.
                </div>
            </div>
        </div>
        <div class="text-end">
            <button type="submit" class="btn btn-primary" [disabled]="editForm.invalid">Update</button>
        </div>
    </form>
</div>